<div class="row">
  <div class="col-6">
    <!-- image? -->
     <img width="70%" src="https://cdni.iconscout.com/illustration/premium/thumb/app-development-illustration-download-in-svg-png-gif-file-formats--application-developer-computer-programming-responsive-design-software-web-and-pack-illustrations-4922520.png?f=webp" alt="">


  </div>
  <div class="col-6 my-5">


    <form [formGroup]="loginForm"   class="m-5 p-5 shadow " >
      <div class="text-center p-5">
        <h2>Login Now..</h2>
      </div>
      <input   formControlName="email" type="text" placeholder="email" class="form-control mb-3 w-75">
      <input  formControlName="password"type="password" placeholder="password" class="form-control mb-3 w-75">
  <div >
    <button (click)="login()" class="btn btn-warning">Login In</button>
  </div>
  <div class="text-center">
    <a href="user/register">Register  here</a>
   </div>
    </form>



  </div>



</div>
